<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <% if (typeof isSearchResult !== 'undefined' && isSearchResult) { %>
        <div class="container mt-3">
            <div class="alert alert-info" role="alert">
                <% if (alldata.length > 0) { %>
                    <% if (typeof exactMatchCount !== 'undefined' && exactMatchCount > 0) { %>
                        Found <%= exactMatchCount %> exact match(es) and <%= alldata.length - exactMatchCount %> related result(s) for "<%= searchQuery %>"
                        <small class="d-block mt-1 text-muted">Exact matches are shown first</small>
                    <% } else { %>
                        Found <%= alldata.length %> result(s) for "<%= searchQuery %>"
                    <% } %>
                <% } else { %>
                    No results found for "<%= searchQuery %>". <a href="/alllist">View all listings</a>
                <% } %>
            </div>
        </div>
    <% } %>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let i of alldata) {%>
    <div class="card">
  <img src="<%= i.image.url %>" class="card-img-top" alt="listing" style="height: 20rem;">
  <div class="card-body">
    <b><h5 class="card-title"><%= i.title %></h5></b>
    <p class="card-text">&#8377;
<%=i.price.toLocaleString("en-IN") %>/night</p>
    <a href="/listing/<%=i._id %>" class="btn btn-primary add">Book Now</a>
  </div>
</div>
 <% } %>
    </div>
    <br>
    <br> 
</body>
